* {
	margin: 0;
	padding: 0;
	font-family: monospace;
}

a {
	text-decoration: none;
	color: #f4f4f4;
}

ul, li {
	list-style: none;
}

body {
	background-color: #cecece;
}

.wrapper {
	display: grid;
	grid-template-areas: ". main .";
	grid-template-columns: 20% auto 20%;
	grid-auto-rows: 1fr;
}

#grid_main {
	grid-area: main;
	display: grid;
	grid-template-areas: 	"header header header"
							"sidebar main main";
	grid-template-columns: 180px 1fr 1fr; 
	grid-template-rows: 50px auto;
	width: 100%;
}

#header {
	grid-area: header;
	background-color: #2c2c2c;
	display: flex;
}

#header ul {
	display: flex;
}

#main {
	margin-top: 8px; /* Done upload to github.. You guys can find the code there! Thanks again */
	grid-area: main;
}

#sidebar {
	grid-area: sidebar;
}

#sidebar > * {
	margin: 5px auto;
	background-color: #f2f2f2;
}

.float.right {
	float: right;
}

#info {
	padding: 0 0 8px 0;
}

span.time {
	color: #9c9e9d;
}

#info > hr {
	margin: 5px;
}

#info-bar, #stats-area, .info > * {
	padding: 0 10px;
}

#name-link {
	text-decoration: none;
	color: blue;
}

#money-value {
	color: green;
}

ul#status-icon {
	display: inline-flex;
	list-style: none;
}

.status-icon {
	width: 16px;
    height: 16px;
    margin: 8px 4px 0 0;
	background-image: url(icons/user_icons.png);
	background-repeat: no-repeat;
}

/* 64 icons column */
.status-icon.gender.male { background-position: -90px 0; }
.status-icon.gender.female { background-position: -108px 0; }
.status-icon.education { background-position: -324px 0; }
.status-icon.job.employed { background-position: -360px 0; }
.status-icon.bank.investment { background-position: -504px 0; }

div#stats-area {

}

.progressbar {
	height: 6px;
	border-radius: 3px;
}

.progressbar > * {
	position: relative;
	left: 0;
}

.progressbar.back {
	background-color: white;
	width: 100%;
	border: 1px solid black;
	border-radius: 3px;
}

.progressbar.middle {
	background-color: #d0efd3;
	z-index: 1;
}

.progressbar.front {
    top: -6px;
	background-color: #0cb30c;
	z-index: 2;
}

h3.title {
	background-color: #2c2c2c;
	color: #f4f4f4;
	padding: 5px;
	padding-left: 10px;
	font-size: 18px;
	text-align: center
};

.header.menu {
	display: flex;
	flex-direction: row;
	list-style: none;
	height: -webkit-fill-available;
}

.header.menu a {
	font-size: 18px;
}

.header.menu > li {
	height: -webkit-fill-available;
    border-right: 1px solid white;
    padding: 16px;
    align-items: center;
}

.areas > li {
	line-height: 34px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

form {
	width: 100%;
}

ul.areas > li.selected, .areas > li:hover {
	background-color: #fff;
}

.icon {
	width: 34px;
	height: 34px;
	background-image: url(icons/sidebar.png);
	background-repeat: no-repeat;
}

.icon.home { background-position: 0 -272px; }
.icon.items { background-position: 0 -306px; }
.icon.city { background-position: 0 -340px; }
.icon.job { background-position: 0 -374px; }
.icon.gym { background-position: 0 -408px; }
.icon.properties { background-position: 0 -476px; }
.icon.education { background-position: 0 -510px; }
.icon.crimes { background-position: 0 -544px; }
.icon.missions { background-position: 0 -578px; }
.icon.newspaper { background-position: 0 -612px; }
.icon.jail { background-position: 0 -646px; }
.icon.hospital { background-position: 0 -680px; }
.icon.casino { background-position: 0 -714px; }
.icon.forums { background-position: 0 -748px; }
.icon.halloffame { background-position: 0 -782px; }
.icon.factions { background-position: 0 -816px; }
.icon.recruitcitizens { background-position: 0 -850px; }
.icon.rules { background-position: 0 -884px; }
.icon.elimination { background-position: 0 -918px; }

div#main {
	padding: 0 8px;
}

div#main > hr {
	margin: 10px 0;
}

.subtitle {
	display: flex;
	align-items: center;
	font-size: 13px;
	color: white;
}

.subtitle.dark {
	background-color: rgb(36, 36, 36);
}
.subtitle.light {
	background-color: #6d6d6d;
}

.icon.bulb {
	width: 22px;
	height: 18px;
	background-image: url(icons/bulb.png);
	background-position-x: left;
	background-position-y: top;
	background-repeat: no-repeat;
}

/* Home */
div#main > .main.header {
	font-weight: 700;
	margin-top: 5px;
	font-size: 14px;
	padding: 6px;
}

.content-box > * {
	padding: 8px;
}

.content-box > .subtitle {
	border-radius: 6px 6px 0 0;
}

.content-box > .content {
	background: #f2f2f2;
	border-radius: 0 0 6px 6px;
}

/* Items */
table#Items, table#Items > tbody > tr, table#Items > tbody > tr > td{
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}

table#Items > tbody > tr > td {
	padding: 20px;
}

div#main > * {
	margin: 8px 0;
}

#Inventory.items.type {
	display: grid;
	grid-auto-rows: 33px;
	grid-template-columns: repeat( auto-fit, minmax(27px, 1fr) );
	background-color: #403f3f;
}

#Inventory.items.type > *:nth-child(8n) { /* Fix later */
	/*grid-column-end: 8;*/
}

.item-type {
	width: 27px;
	height: 33px;
	background-image: url(icons/items_dark.png);
}

.item-type.off { background-position-x: -34px; }
.item-type.melee { background-position-y: -34px; }
.item-type.primary { background-position-y: calc(-34px * 2); }
.item-type.secondary { background-position-y: calc(-34px * 3); }
.item-type.armor { background-position-y: calc(-34px * 4); }
.item-type.medical { background-position-y: calc(-34px * 5); }
.item-type.temporary { background-position-y: calc(-34px * 6); }
.item-type.energy-drink { background-position-y: calc(-34px * 7); }
.item-type.candy { background-position-y: calc(-34px * 8); }
.item-type.drugs { background-position-y: calc(-34px * 9); }
.item-type.enhancer { background-position-y: calc(-34px * 10); }
.item-type.alcohol { background-position-y: calc(-34px * 11); }
.item-type.boosters { background-position-y: calc(-34px * 12); }
.item-type.electrical { background-position-y: calc(-34px * 13); }
.item-type.jewelry { background-position-y: calc(-34px * 14); }
.item-type.viruses { background-position-y: calc(-34px * 15); }
.item-type.flowers { background-position-y: calc(-34px * 16); }
.item-type.supply-packs { background-position-y: calc(-34px * 17); }
.item-type.collectibles { background-position-y: calc(-34px * 18); }
.item-type.clothing { background-position-y: calc(-34px * 19); }
.item-type.cars { background-position-y: calc(-34px * 20); }
.item-type.artifacts { background-position-y: calc(-34px * 21); }
.item-type.plushies { background-position-y: calc(-34px * 22); }
.item-type.special { background-position-y: calc(-34px * 23); }
.item-type.misc { background-position-y: calc(-34px * 24); }
.item-type.books { background-position-y: calc(-34px * 25); }

/* Gym */
.whitebg {
	height: 60px;
	background-color: white;
}

#Gym {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
}

#Gym > * {
	position: relative;
    top: calc(50% - 46px);
}

#train-type {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(194px,1fr));
	grid-gap: 2px;
}

#train-type > * {
	height: 129px;
}

#train-type > div > div.header {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 34px auto-fit 30px;
}

i.icon {
	width: 34px;
	height: 32px;
	background-image: url(icons/gym/stat_icons.png);
}

i.icon.strength { background-position-x: -101px; }
i.icon.defense { background-position-x: -32px; }
i.icon.speed { background-position-x: -1px; }
i.icon.dexterity { background-position-x: -67px; }

.aright { text-align-last: center; }

#strength > .content, #defense > .content, #speed > .content, #dexterity > .content {
	display: grid;
	align-items: center;
	justify-content: center;
}

span.details { text-align: center; padding: 8px 0; }

.inc-button > input {
	width: 63px;
	line-height: 30px;
	border-radius: 8px;
	border-width: 1px;
	text-align: center;
}

.inc-button > button {
	background-color: transparent;
	border: solid transparent;
	position: relative;
}

.inc-button > button:nth-child(1) { right: -26px; }
.inc-button > button:nth-child(4) { left: -26px; }

#strength > .content form, #defense > .content form, #speed > .content form, #dexterity > .content form {
	display: flex;
	flex-direction: row;
}

input[value=TRAIN] {
	background: linear-gradient(180deg,#d7d7d7 0,#bdbdbd 17%,#989898 61%,#7e7e7e 83%,#7c7c7c 87%,#7f7f7f 91%,#868686 96%,#8a8a8a);
    border: 0;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    padding: 3px 10px;
    text-shadow: 0 1px 0 hsla(0,0%,100%,.4);
    vertical-align: top;
}

/*That's all for today guys! See you later. Thanks for watching ^_^*/